* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
@font-face {
    font-family: myfont;
    src: url(Black_Ops_One\ \(1\).zip);
}
 html,
 body {
 height: 100%;
 width: 100%;
}
body {
position: relative;
font-family: myfont, cursive;

}
 main {
 height: 100%;
 width: 100%;
 background-image: url(https://images.pexels.com/photos/2961109/pexels-photo-2961109.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
 background-position: center;
 background-size: cover;
 }
 .first {
 height: 100%;
 width: 100%;
 background-color: rgba(60, 105, 68, 0.533);
 position: relative;
 }
 
 .first .a {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
 }



 .a > h1  {
 font-size: 70px;
 letter-spacing: 5px;
  }


  .a > p  {
 font-size: 25px;
 letter-spacing: 4px;
  }


   .a > button  {
 font-size: 20px;
 background: white;
 cursor: pointer;
 color: black;
 border: 2px solid black;
 font-family: myfont, Helvetica, sans-serif;
 letter-spacing: 8px;
  }
  .a > button:hover {
  background-color: aqua;
  color: brown;
  }